body{
    background-color: #19222d !important; 
    margin: 0%;
}

.navBg{
    background-color:#19222d;
    /* color: white !important; */
}

.logo{
    height: 100%;
    width: 20%;
}
.clr{
    color: aliceblue !important;
}
.searchBg{
    background-color: #19222d;
}
.cir{
    border-radius: 50% !important;
}


.search-box {
    position: absolute;
    top: 20%; 
    left: 75%; 
    float: right;
    margin-right: 40px;
    background:#19222d;
    /* background-color: blue; */
    height: 45px;
    width: 300px;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px; 
    background-color: white;
   
}


.search-box:hover>.search-btn { 
    display: none;
}


.search-btn {
    color: white;
    width: 45px;
    height: 45px;
    margin-left: 80%;
    border-radius: 50%;
    background:#19222d;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    /* colorwhite;? */
    color: black;
    font-size: 16px;
    /* transition: 0.4s; */
    line-height: 40px;
    width: 0px;
}
.cle{
    color: aliceblue;
    position: relative;
}

.owl-dots {
    display: none;
}

.owl-nav {
    position: absolute !important;
    width: 100%;
    top: 50%;
    z-index: 1;

    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}


.owl-nav {
    display: none;
}

.owl-carousel .owl-nav button.owl-prev span,
.owl-carousel .owl-nav button.owl-next span {
    font-size: 24px;
    font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        margin: auto !important;

        background-color: aquamarine;

        color: #262626 !important;
            background-color: white !important;
            border-radius: 99px;
            padding: auto !important;
        
            width: 30px;
            height: 30px;

}

.owl-carousel .owl-nav button.owl-prev, 
.owl-carousel .owl-nav button.owl-next {
    display: none;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 55px;
}

.myCarousel{
    width: 200px;
        height: 200px;
}

.txtclr{
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}
.bgd{
    height: 169px;
        width: 282px;
        background-color: blue;
        margin-left: 17px;
       border-radius: 2%;
}
#first{
background-image: url(/images/Continue\ Watching/cw1.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#second{
background-image: url(/images/Continue\ Watching/cw2.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#third{
background-image: url(/images/Continue\ Watching/cw3.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#fourth{
background-image: url(/images/Continue\ Watching/cw4.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#fifth{
background-image: url(/images/Continue\ Watching/cw5.jpg);
background-repeat: no-repeat;
background-size: cover;
}
#sixth{
background-image: url(/images/Continue\ Watching/cw6.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.xyz{
    height: 100%;
}


.thriller {
    height: 149px;
    width: 270px;
   
    margin-left: 17px;
    border-radius: 2%;
}

 #thriller1{
    background-image: url(/images/Thriller/th1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
 #thriller2 {
     background-image: url(/images/Thriller/th2.jpeg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #thriller3 {
     background-image: url(/images/Thriller/th3.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #thriller4 {
     background-image: url(/images/Thriller/th4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #thriller5 {  
     background-image: url(/images/Thriller/th5.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #thriller6 {
     background-image: url(/images/Thriller/th6.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 #thriller7 {
     /* background-image: url(/images/Thriller/th1.jpg); */
     background-image: url(/images/scfi/scfi1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }

 #scfi1{
     background-image: url(/images/scfi/scfi1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
  #scfi2 { 
      background-image: url(/images/scfi/scfi2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
#scfi3{
       background-image: url(/images/scfi/scfi3.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
#scfi4{
     background-image: url(/images/scfi/scfi4.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
#scfi5{
      background-image: url(/images/scfi/scfi5.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
#scfi6 {
       background-image: url(/images/scfi/scfi6.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
#scfi7{ 
            background-image: url(/images/scfi/scfi7.jpg);
            background-repeat: no-repeat;
            background-size: cover;
}


.grad{
    z-index: 1000;
    background-blend-mode: overlay(to right,
        rgba(255, 0, 0, 0),
        rgb(0, 0, 0));
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 13px !important;
    height: 12px !important;
    padding: 0;
    margin-right: 7px;
    border-radius: 50%;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    bottom: -8;
}
.bgd {
    height: 157px;
    width: 272px;
    background-color: blue;
    margin-left: 15px;
    margin-right: 0px;
    border-radius: 2%;
    margin-bottom: 16;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -8 !important;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}

.img-section {
    margin-top: 2%;
    width: 100%;
    background-color: #000;
    color: white;
}

.img-container {
    background-color: red;
    position: relative;
    margin-left: auto;
    left: 12px;
    width: 71%;

}

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9) 20%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9)5%, rgba(255, 255, 255, 0) 100%);
}

.content {
    width: max-content;
    overflow: visible;
    background-color: #000;
    color: white;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (min-width: 480px) and (max-width: 780px) {
    #carouselExampleCaptions, .carousel .slide {
         max-width: 100vw;
    }
    .img-section {
        max-width: 100vw;
    }
    .content {
        width: 100%;
        position: absolute;
        z-index: 10;
        background: transparent;
        padding: 20px;
    }
    .img-container {
        width: 100%;
    }
}

#rec1{
    background-image: url(/images/recommended/rec1.jpg);
    background-repeat: no-repeat;
   
    background-size: cover;
}

#rec1 {
    background-image: url(/images/recommended/rec1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec2 {
    background-image: url(/images/recommended/rec2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec3 {
    background-image: url(/images/recommended/rec3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec4 {
    background-image: url(/images/recommended/rec4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec5 {
    background-image: url(/images/recommended/rec5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#rec6 {
    background-image: url(/images/recommended/rec6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.owl-item cloned{
    margin-right: -20px;
}

